{% extends "base.html" %}

{% load i18n static %}

{% block title %}
  {% translate "Games" %}
{% endblock title %}
{% block extra_js %}
  <script defer src="{% static 'js/games.js' %}"></script>
{% endblock extra_js %}
{% block extra_nav %}
  <li class="nav-item">
    {% url "sports:import_games" as import_games_url %}
    <a id="log-in-link"
       class="nav-link{% if request.path == import_games_url %} active{% endif %}"
       href="{{ import_games_url }}">{% translate "Import" %}</a>
  </li>
{% endblock extra_nav %}
{% block content %}
  <h1>{% translate "Games" %}</h1>
  {% csrf_token %}
  <div class="mb-3">
    <form id="add-game-form" method="post">
      <div class="form-group">
        <label for="homeTeam">Home Team:</label>
        <input type="text" class="form-control" name="home_team" required />
      </div>
      <div class="form-group">
        <label for="homeScore">Home Team Score:</label>
        <input type="number" class="form-control" name="home_team_score" required />
      </div>
      <div class="form-group">
        <label for="awayTeam">Away Team:</label>
        <input type="text" class="form-control" name="away_team" required />
      </div>
      <div class="form-group">
        <label for="awayScore">Away Team Score:</label>
        <input type="number" class="form-control" name="away_team_score" required />
      </div>
      <button id="add-btn" type="submit" class="btn btn-primary mt-3">Add Game</button>
    </form>
  </div>
  <table id="games-table" class="display">
    <thead>
      <tr>
        <th>ID</th>
        <th>Home Team</th>
        <th>Score</th>
        <th>Away Team</th>
        <th>Score</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>1</td>
        <td>Team A</td>
        <td>
          <input type="number" name="test" value="1" />
        </td>
        <td>Team B</td>
        <td>
          <input type="number" value="3" />
        </td>
      </tr>
      <tr>
        <td>2</td>
        <td>Team A</td>
        <td>
          <input type="number" value="1" />
        </td>
        <td>Team B</td>
        <td>
          <input type="number" value="3" />
        </td>
      </tr>
    </tbody>
  </table>
  <div class="mb-3 text-center">
    <button id="remove-btn" class="btn btn-danger">Delete Game</button>
    <button id="update-btn" class="btn btn-success">Update Game</button>
  </div>
{% endblock content %}
