{% load static i18n compress %}

<!DOCTYPE html>
{% get_current_language as LANGUAGE_CODE %}
<html lang="{{ LANGUAGE_CODE }}">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>
      {% block title %}
        sports-league
      {% endblock title %}
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Sports League" />
    <meta name="author" content="Al-Hasan Saleh" />
    <link rel="icon" href="{% static 'images/favicons/favicon.ico' %}" />
    {% block css %}
      <!-- Latest compiled and minified Bootstrap CSS -->
      <link rel="stylesheet"
            href="//cdn.datatables.net/1.13.6/css/jquery.dataTables.min.css" />
      <link rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.2.3/css/bootstrap.min.css"
            integrity="sha512-SbiR/eusphKoMVVXysTKG/7VseWii+Y3FdHrt0EpKgpToZeemhqHeZeLWLhJutz/2ut2Vw1uQEj2MbRF+TVBUA=="
            crossorigin="anonymous"
            referrerpolicy="no-referrer" />
      <link rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.css"
            integrity="sha512-3pIirOrwegjM6erE5gPSwkUzO+3cTjpnV9lexlNZqvupR64iZBnOOTiiLPb9M36zpMScbmUNIcHUqKD47M719g=="
            crossorigin="anonymous"
            referrerpolicy="no-referrer" />
      <!-- Your stuff: Third-party CSS libraries go here -->
      <!-- This file stores project-specific CSS -->
      {% compress css %}
        <link href="{% static 'css/project.css' %}" rel="stylesheet" />
      {% endcompress %}
    {% endblock css %}
    <!-- Le javascript
================================================== -->
    {# Placed at the top of the document so pages load faster with defer #}
    {% block javascript %}
      <!-- Bootstrap JS -->
      <script defer
              src="https://code.jquery.com/jquery-3.7.1.min.js"
              integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo="
              crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.2.3/js/bootstrap.min.js"
              integrity="sha512-1/RvZTcCDEUjY/CypiMz+iqqtaoQfAITmNSJY17Myp4Ms5mdxPS5UV7iOfdZoxcGhzFbOm6sntTKJppjvuhg4g=="
              crossorigin="anonymous"
              referrerpolicy="no-referrer"></script>
      <script defer src="//cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>
      <script defer
              src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"
              integrity="sha512-VEd+nq25CkR676O+pLBnDW09R7VQX9Mdiij052gVCp5yVH3jGtH70Ho/UUv4mJDsEdTvqRCFZg0NKGiojGnUCw=="
              crossorigin="anonymous"
              referrerpolicy="no-referrer"></script>
      <!-- Your stuff: Third-party javascript libraries go here -->
      <!-- place project specific Javascript in this file -->
      {% compress js %}
        <script defer src="{% static 'js/project.js' %}"></script>
        {% block extra_js %}
        {% endblock extra_js %}
      {% endcompress %}
    {% endblock javascript %}
  </head>
  <body>
    <div class="mb-1">
      <nav class="navbar navbar-expand-md navbar-light bg-light">
        <div class="container-fluid">
          <button class="navbar-toggler navbar-toggler-right"
                  type="button"
                  data-bs-toggle="collapse"
                  data-bs-target="#navbarSupportedContent"
                  aria-controls="navbarSupportedContent"
                  aria-expanded="false"
                  aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <a class="navbar-brand" href="{% url "home" %}">{% translate "sports-league" %}</a>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item active">
                {% url "home" as home_url %}
                <a class="nav-link{% if request.path == home_url %} active{% endif %}"
                   href="{{ home_url }}">{% translate "Home" %} <span class="visually-hidden">(current)</span></a>
              </li>
              {% if request.user.is_authenticated %}
                <li class="nav-item">
                  {% url "logout" as logout_url %}
                  <a class="nav-link{% if request.path == logout_url %} active{% endif %}"
                     href="{{ logout_url }}">{% translate "Sign Out" %}</a>
                </li>
              {% else %}
                {% url "users:register" as register_url %}
                <li class="nav-item">
                  <a id="sign-up-link"
                     class="nav-link{% if request.path == register_url %} active{% endif %}"
                     href="{{ register_url }}">{% translate "Sign Up" %}</a>
                </li>
                <li class="nav-item">
                  {% url "login" as login_url %}
                  <a id="log-in-link"
                     class="nav-link{% if request.path == login_url %} active{% endif %}"
                     href="{{ login_url }}">{% translate "Sign In" %}</a>
                </li>
              {% endif %}
              <li class="nav-item">
                {% url "sports:games" as games_url %}
                <a id="log-in-link"
                   class="nav-link{% if request.path == games_url %} active{% endif %}"
                   href="{{ games_url }}">{% translate "Games" %}</a>
              </li>
              <li class="nav-item">
                {% url "sports:ranks" as ranks_url %}
                <a id="log-in-link"
                   class="nav-link{% if request.path == ranks_url %} active{% endif %}"
                   href="{{ ranks_url }}">{% translate "Ranks" %}</a>
              </li>
              {% block extra_nav %}
              {% endblock extra_nav %}
            </ul>
          </div>
        </div>
      </nav>
    </div>
    <div class="container">
      {% if messages %}
        {% for message in messages %}
          <div class="alert alert-dismissible {% if message.tags %}alert-{{ message.tags }}{% endif %}">
            {{ message }}
            <button type="button"
                    class="btn-close"
                    data-bs-dismiss="alert"
                    aria-label="Close"></button>
          </div>
        {% endfor %}
      {% endif %}
      {% block content %}
        <p>Use this document as a way to quick start any new project.</p>
      {% endblock content %}
    </div>
    <!-- /container -->
    {% block modal %}
    {% endblock modal %}
    {% block inline_javascript %}
      {% comment %}
    Script tags with only code, no src (defer by default). To run
    with a "defer" so that you run inline code:
    <script>
      window.addEventListener('DOMContentLoaded', () => {
        /* Run whatever you want */
      });
    </script>
      {% endcomment %}
    {% endblock inline_javascript %}
  </body>
  <script>
    const gameListUrl = "{% url 'api:game-list' %}";
    const gameDetailUrl = "{% url 'api:game-detail' 0 %}";
    const ranksUrl = "{% url 'api:team-ranks' %}";
  </script>
</html>
